<section class="container-fluid bcolor p-0">
  <section class="container">

    <nav class="navbar navbar-expand-lg  justify-content-between ">

       <div>
         <button class="navbar-toggler btn-primary me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fal fa-bars"></i>
         </button>

         <div class=" offcanvas offcanvas-start bcolor navbar-collapse" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title mx-5 my-2 text-light" id="offcanvasExampleLabel"> Vezeeta </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

           <div class="navbar-nav">
             <select class="nav-link  bg-transparent border-0 text-light p-1 ">
              <option><a href="#">مصر</a></option>
              <option><a href="#">مصر</a></option>
              <option><a href="#">مصر</a></option>
              <option><a href="#">مصر</a></option>
              <option><a href="#">مصر</a></option>
             </select>
             <span class="navBorder">|</span>

             <a class="nav-link" href="#" aria-disabled="true">English</a>
             <span class="navBorder">|</span>
             <a class="nav-link" href="ContactUs.html">اتصل بنا</a>
             <span class="navBorder">|</span>
             <a class="nav-link" href="doctots.html">فزيتا للاطباء</a>
             <span class="navBorder">|</span>
             <a class="nav-link" href="login.html">دخول</a>
             <span class="navBorder">|</span>
             <a class=" nav-link btn  border-1 border-light px-1 me-1" href="Register.html"> انضم الان</a>
           </div>
          </div>
        </div>

        <div class=" navbar-brand text-start">
         <a href="#"> <img src="assets/img/whitelogowithdotcom.jfif" class="img-responsive img-fluid" alt="logo"></a>
       </div>

     </nav>
    </section>
</section>
