<section class="container-fluid">
  <section class="container">
    <div id="logreg-forms">

      <div class="bg-primary text-center text-light p-1" style="border-radius: 15px 15px 0px 0px ; width:100%;">
        <span>
          <h5 class=" mb-2 font-weight-normal fw-bolder ">دخــــــــول</h5>
        </span>
      </div>

      <form class="form-signin">
        <div class="social-login row g-3 justify-content-center ">
          <div class="col-sm-6 col-12">
            <button class=" btn facebook-btn social-btn w-100" type="button"><span><i class="fab fa-facebook-f"></i>
                الدخول عبر الفيس بوك</span> </button>
          </div>

          <div class="col-sm-6 col-12">
            <button class="btn social-btn btn-danger w-100" type="button"><span><i class="fab fa-google-plus-g"></i>
                Google الدخول بـواسطه</span> </button>
          </div>
        </div>

        <p style="text-align:center"> أو </p>

        <div class="text-end mb-3">
          <label for="email" class="mb-2"> *الموبيل او البريد الإلكتروني </label>
          <input type="email" id="inputEmail" class="form-control " required="" autofocus="">
        </div>

        <div class="text-end mb-3">
          <label for="password" class="mb-2"> *كلمة المرور </label>
          <input type="password" id="inputPassword" class="form-control" required="" placeholder="">
        </div>

        <button class="btn btn-danger btn-block w-100" type="submit"><i class="fas fa-sign-in-alt"></i>
          تسجيل
          الدخول
        </button>

        <div class="d-flex justify-content-between p-3">
          <a href="#" id="forgot_pswd">هل نسيت كلمة السر؟</a>
          <div class="">
            <label for="rememberme"> تذكرني </label>
            <input type="checkbox" id="togglebtn" name="rememberMe" placeholder="">
          </div>
        </div>

        <hr>
        <button class="btn btn-primary btn-block w-100" type="button" id="btn-signup"
          onclick="location.assign('./Register.html')">
          <i class="fas fa-user-plus"></i>
          إنشاء حساب جديد</button>
      </form>

    </div>
  </section>
</section>
