<app-home-header></app-home-header>

<section class="container-fluid px-0" style="background-color: rgb(238, 240, 242);">
  <section class="container">
    <div class=" div_1  row py-4">
      <h2 class="text_1 text-end">{{'home.new_service'|translate}}</h2>
      <div class="div_1_child p-4 rounded text-end mt-2 text-light">
        <h1>{{'home.pharmacy'|translate}}</h1>
        <p>{{'home.medicine'|translate}}</p>
        <a class="btn  btn-outline-secondary btn-light rounded-3" href="#">{{'home.order'|translate}}</a>
      </div>
    </div>

    <div class="row gx-5 py-3">

      <div class="col-6 ">
        <div class="row bg-light rounded-3">
          <div class="col-md-4">
            <img class="img-responsive img-fluid rounded" src="assets/img/desktop.jfif">
          </div>

          <div class="col-md-8 text-end p-2">
            <h2 class="text_1">{{'home.teleconsultation'|translate}}</h2>
            <p class="text_2">{{'home.voice_video'|translate}}</p>
            <a class="link" href="#">{{'home.book_call'|translate}}</a>
          </div>

        </div>
      </div>

      <div class="col-6 ">
        <div class="row bg-light rounded-3">
          <div class="col-md-4">
            <img class="img-responsive img-fluid  rounded" src="assets/img/desktop (1).jfif">
          </div>

          <div class="col-md-8 text-end p-2">
            <h2 class="text_1">{{'home.home_visit'|translate}}</h2>
            <p class="text_2">{{'home.choose_speciality'|translate}}</p>
            <a class="link" href="#">{{'home.book_visit'|translate}} </a>
          </div>

        </div>
      </div>

    </div>
    <!-- ////////////////////////////////////////// -->

  </section>
</section>

<section class="container-fluid px-0 bg-light">
  <section class="container py-5">
    <div class="row">
      <a href="#" class="col-12 text-end text-decoration-none">
        <div class="row">
          <div class="col-md-1 col-2">
            <img class="img-responsive img-fluid mx-auto h-auto " src="assets/img/ministry-of-health-logo.jfif">
          </div>

          <div class="col-md-10  col-10">
            <h3 class="text_1 fw-bold">{{'home.corona'|translate}}</h3>
            <p class="text_2 ">{{'home.ask'|translate}}</p>
          </div>

          <div class="col-md-1 text-md-start d-sm-inline ">
            <i class="fas fa-arrow-left pt-3 fs-6 text_1"></i>
          </div>

        </div>
      </a>
    </div>
    <hr>

    <div class="row gy-4 py-3">

      <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
          <h2 class="text_1 fw-bold ">اختار من أحسن العروض</h2>
          <a class="text-decoration-none " href="#">كل العروض</a>
        </div>
      </div>
      <!-- //////////////////////////////////////////////// -->
      <div class="col-12">

        <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="row row-cols-md-4 row-cols-2">

                <div class="col">
                  <figure class="figure">
                    <img src="assets/img/desktop (2).jfif" class="figure-img img-fluid rounded-3" alt="...">
                    <figcaption class="figure-caption">
                      <h5 class="text_1 fw-bold">تنظيف الأسنان</h5>
                      <p class="fs-5 text_3"><span class="text-decoration-line-through text_2">400 جنيه</span> 100 جنيه
                      </p>
                    </figcaption>
                  </figure>
                </div>

                <div class="col">
                  <figure class="figure">
                    <img src="assets/img/desktop (3).jfif" class="figure-img img-fluid rounded-3" alt="...">
                    <figcaption class="figure-caption">
                      <h5 class="text_1 fw-bold">تنظيف البشرة</h5>
                      <p class="fs-5 text_3"><span class="text-decoration-line-through text_2">150 جنيه</span> 80 جنيه
                      </p>
                    </figcaption>
                  </figure>
                </div>

                <div class="col">
                  <figure class="figure">
                    <img src="assets/img/desktop (4).jfif" class="figure-img img-fluid rounded-3" alt="...">
                    <figcaption class="figure-caption">
                      <h5 class="text_1 fw-bold">تركيب التقويم المعدني</h5>
                      <p class="fs-5 text_3"><span class="text-decoration-line-through text_2">6000 جنيه</span> 4000
                        جنيه</p>
                    </figcaption>
                  </figure>
                </div>

                <div class="col">
                  <figure class="figure">
                    <img src="assets/img/desktop (5).jfif" class="figure-img img-fluid rounded-3" alt="...">
                    <figcaption class="figure-caption p-0">
                      <h5 class="text_1 fw-bold">تقشير الوجه</h5>
                      <p class="fs-5 text_3"><span class="text-decoration-line-through text_2">150 جنيه</span> 80 جنيه
                      </p>
                    </figcaption>
                  </figure>
                </div>

              </div>
            </div>

            <div class="carousel-item">
              <div class="row row-cols-md-4 row-cols-2">

                <div class="col">
                  <figure class="figure">
                    <img src="assets/img/desktop (6).jfif" class="figure-img img-fluid rounded-3" alt="...">
                    <figcaption class="figure-caption">
                      <h5 class="text_1 fw-bold">تصحيح النظر</h5>
                      <p class="fs-5 text_3"><span class="text-decoration-line-through text_2">6000 جنيه</span> 1800
                        جنيه</p>
                    </figcaption>
                  </figure>
                </div>

                <div class="col">
                  <figure class="figure">
                    <img src="assets/img/desktop (7).jfif" class="figure-img img-fluid rounded-3" alt="...">
                    <figcaption class="figure-caption">
                      <h5 class="text_1 fw-bold">انقاص الوزن</h5>
                      <p class="fs-5 text_3"><span class="text-decoration-line-through text_2">7200 جنيه</span> 2400
                        جنيه</p>
                    </figcaption>
                  </figure>
                </div>

                <div class="col">
                  <figure class="figure">
                    <img src="assets/img/desktop (8).jfif" class="figure-img img-fluid rounded-3" alt="...">
                    <figcaption class="figure-caption">
                      <h5 class="text_1 fw-bold">ازالة الشعر بالليزر</h5>
                      <p class="fs-5 text_3"><span class="text-decoration-line-through text_2">2000 جنيه</span> 820 جنيه
                      </p>
                    </figcaption>
                  </figure>
                </div>

                <div class="col">
                  <figure class="figure">
                    <img src="assets/img/desktop (9).jfif" class="figure-img img-fluid rounded-3" alt="...">
                    <figcaption class="figure-caption">
                      <h5 class="text_1 fw-bold">فيتامين-د</h5>
                      <p class="fs-5 text_3"><span class="text-decoration-line-through text_2">300 جنيه</span> 150 جنيه
                      </p>
                    </figcaption>
                  </figure>
                </div>

              </div>
            </div>

          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon border-5 rounded bg-secondary " aria-hidden="true"></span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon border-5 rounded bg-secondary" aria-hidden="true"></span>
          </button>

        </div>

      </div>

    </div>

  </section>
</section>

<section class="container-fluid px-0" style="background-color: rgb(238, 240, 242);">
  <section class="container">
    <div class="row py-4">
      <h2 class="text_1 fw-bold mt-2">احجز كشف حسب التخصص</h2>
      <div class="col-12">

        <div id="carousel_2" class="carousel slide" data-bs-touch="false" data-bs-interval="false">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row row-cols-md-4 row-cols-2 g-5">

                <div class="col">
                  <div class="card rounded-3">
                    <img src="assets/img/cat_1.jfif" class="card-img-top  img-fluid rounded-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text_1 fw-bold">جلدية</h5>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card rounded-3">
                    <img src="assets/img/cat_2.jfif" class="card-img-top  img-fluid rounded-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text_1 fw-bold">اسنان</h5>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card rounded-3">
                    <img src="assets/img/cat_3.jfif" class="card-img-top  img-fluid rounded-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text_1 fw-bold">نفسي</h5>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card rounded-3">
                    <img src="assets/img/cat_4.jfif" class="card-img-top  img-fluid rounded-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text_1 fw-bold">اطفال وحديثي الولادة</h5>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="carousel-item">
              <div class="row row-cols-md-4 row-cols-2 g-5">

                <div class="col">
                  <div class="card rounded-3">
                    <img src="assets/img/cat_5.jfif" class="card-img-top  img-fluid rounded-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text_1 fw-bold">مخ واعصاب</h5>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card rounded-3">
                    <img src="assets/img/cat_6.jfif" class="card-img-top img-fluid rounded-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text_1 fw-bold">عظام</h5>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card rounded-3">
                    <img src="assets/img/cat_7.jfif" class="card-img-top img-fluid rounded-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text_1 fw-bold">نساء وتوليد</h5>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card rounded-3">
                    <img src="assets/img/cat_8.jfif" class="card-img-top  img-fluid rounded-3" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text_1 fw-bold">انف واذن وحنجرة</h5>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carousel_2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon border-5 rounded bg-secondary " aria-hidden="true"></span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carousel_2" data-bs-slide="next">
            <span class="carousel-control-next-icon border-5 rounded bg-secondary " aria-hidden="true"></span>
          </button>
        </div>

      </div>
    </div>
  </section>
</section>

<section class="container-fluid px-0 bg-light">
  <section class="container py-5 mt-3">
    <div class="row row-cols-md-4 row-cols-1 gx-5">
      <div class="col">
        <img class="img-responsive img-fluid"
          src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/medical-care-icon.svg"
          alt="///">
        <h5 class="text_1 fw-bold mt-2">{{'home.all_needs'|translate}}</h5>
        <p class="text_2">{{'home.search_book'|translate}}</p>
      </div>
        <div class="col">
          <img class="img-responsive img-fluid"
            src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/doctor-icon.svg"
            alt="///">
          <h5 class="text_1 fw-bold mt-2">{{'home.verified'|translate}}</h5>
          <p class="text_2">{{'home.docor_ratings'|translate}}</p>
        </div>

        <div class="col">
          <img class="img-responsive img-fluid"
            src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/booking-icon.svg"
            alt="///">
          <h5 class="text_1 fw-bold mt-2">{{'home.your_booking'|translate}}</h5>
          <p class="text_2">{{'home.yor_booking_confirmed'|translate}}</p>
        </div>

        <div class="col">
          <img class="img-responsive img-fluid"
            src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/medical-care-icon.svg"
            alt="///">
          <h5 class="text_1 fw-bold mt-2">{{'home.book_for_free'|translate}}</h5>
          <p class="text_2">{{'home.book_for_free_text'|translate}}</p>
        </div>

      </div>

      <div class="row bcolor justify-content-center mt-4 pt-4 rounded-3 g-4 pb-md-0 pb-3">
        <div class="col-md-6 " style="width: 200px; height: auto;">
          <img class=" img-fluid " src="assets/img/image-phone.jfif" alt="phone">
        </div>

        <div class="col-md-6 text-light text-md-end text-center">
          <h1 class="fw-bold">{{'home.install'|translate}}</h1>
          <p>{{'home.compare'|translate}}</p>

          <a class="btn  btn-light" href="#">
            <span class="text-dark">Google Play</span>
            <img class="img-fluid"
              src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/google-play-logo.svg">
          </a>

          <a class="btn me-3  btn-light" href="#">
            <span class="text-dark ">App Store</span>
            <img class="img-fluid"
              src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/apple-logo.svg">
          </a>
        </div>

      </div>
  </section>
</section>

<section class="container-fluid px-0" style="background-color: rgb(238, 240, 242);">
  <section class="container py-4">
    <div class="row gy-4 py-5 links">
      <div class="col-md-6">
        <h5 class="text_1 fw-bold mb-2">إختار التخصص وإحجز كشف دكتور</h5>
        <div class="d-flex flex-wrap">
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="">دكتور جلدية</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="">دكتور اسنان</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="">دكتور نفسي</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="">دكتور اطفال وحديثي الولادة</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="">دكتور مخ واعصاب</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="">دكتور عظام</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="">دكتور نساء وتوليد</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="">دكتور انف واذن وحنجرة</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="">دكتور قلب واوعية دموية</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">المزيد ...</a></span>
        </div>

      </div>
      <div class="col-md-6">
        <h5 class="text_1 fw-bold mb-2">إختار المحافظة وإحجز كشف دكتور</h5>
        <div class="d-flex flex-wrap">
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">القاهرة</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">الجيزة</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">الاسكندرية</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">الساحل الشمالي</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">القليوبية</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">الغربية</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">المنوفية</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">الفيوم</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">الدقهلية</a></span>
          <span class=" bg-light rounded-3 text-secondary m-1 p-2"><a href="#">المزيد ...</a></span>
        </div>
      </div>
    </div>
  </section>
</section>