<div class="container-fluid  head">
    <div class="container">
        <header class="row  d-none d-md-flex pe-4 pt-2 pb-2">
            <div class="row fw-bold text-secondary" style="font-size: 1.5rem;">
                احجز مع دكتور شاطر
            </div>
            <div class="row text-secondary" style="font-size: 1.1rem;">
                <div>
                    <span> احجز اونلاين او كلم </span>
                    <span> <i class="bi bi-telephone-fill text-danger"> </i></span>
                    <span> ١٦٦٧٦ </span>
                </div>
                <div class="row text-secondary" style="font-size: 1.1rem;">
                    <div>
                        ١٥٠٠٠ دكتور-٩٠٠٠ استشاري واستاذ-اكثر من ٤٠ تخصص
                    </div>
                </div>
            </div>
           <!-- search bar -->
           <div class="header_center  bg-light p-4 my-2 mx-auto">
            <div class="row ">
                <div class="col-12">
                    <div class="row row-cols-5  text-center border-1 border-secondary  bar">
                        <!-- ////////////////////////////////////// -->
                        <div class="col col-border">
                            <div class="dropdown searchbar">
                                <a class="text-decoration-none d-flex justify-content-between align-items-center  dropdown-toggle"
                                    href="#" role="button" id="drop1" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <div>
                                        <p class="text_1">أنا ابحث عن دكتور</p>
                                        <span class="fw-bold"><i class="fas fa-stethoscope"></i> اختار
                                            التخصص</span>
                                    </div>
                                </a>
        
                                <div class="dropdown-menu  " aria-labelledby="drop1">
                                    <ul>
                                        <li><a class="dropdown-item" href="#">جلدية </a></li>
                                        <li><a class="dropdown-item" href="#">اسنان </a></li>
                                        <li><a class="dropdown-item" href="#">نفسي </a></li>
                                        <li><a class="dropdown-item" href="#">اطفال وحديثي الولادة </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
        
                        <!-- ///////////////////////////////////////////// -->
        
                        <div class="col col-border">
                            <div class="dropdown searchbar">
                                <a class="text-decoration-none d-flex justify-content-between align-items-center  dropdown-toggle"
                                    href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <div>
                                        <p class="text_1">في محافظة</p>
                                        <span class="fw-bold"><i class="fas fa-map-marker-alt text-danger"></i>
                                            الجيزة </span>
                                    </div>
                                </a>
        
                                <div class="dropdown-menu  " aria-labelledby="dropdownMenuLink">
                                    <ul>
                                        <li><a class="dropdown-item" href="#">كل المحافظات </a></li>
                                        <li><a class="dropdown-item" href="#">القاهرة </a></li>
                                        <li><a class="dropdown-item" href="#">الاسكندرية </a></li>
                                        <li><a class="dropdown-item" href="#">الساحل الشمالي</a></li>
        
                                    </ul>
                                </div>
                            </div>
                        </div>
        
                        <div class="col col-border">
                            <div class="dropdown searchbar">
                                <a class="text-decoration-none d-flex justify-content-between align-items-center  dropdown-toggle"
                                    href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <div>
                                        <p class="text_1">في المنطقة</p>
                                        <span class="fw-bold"><i class="fas fa-map-marker-alt text-danger"></i>
                                            اختار المنطقة</span>
                                    </div>
                                </a>
        
                                <div class="dropdown-menu  " aria-labelledby="dropdownMenuLink">
                                    <ul>
                                        <li><a class="dropdown-item" href="#">كل المناطق </a></li>
                                        <li><a class="dropdown-item" href="#">الدقي والمهندسين </a></li>
                                        <li><a class="dropdown-item" href="#">6 اكتوبر </a></li>
                                        <li><a class="dropdown-item" href="#">الهرم </a></li>
        
                                    </ul>
                                </div>
                            </div>
                        </div>
        
                        <div class="col col-border">
        
                            <a class="text-decoration-none d-flex justify-content-between align-items-center ">
                                <div>
                                    <p class="text_1 text-end">في محافظة</p>
                                    <span class="fw-bold d-flex"><i class="fas fa-user-md ms-2"></i> <input
                                            type="text" class="border-0 bg-transparent"
                                            placeholder="الدكتور او المستشفي" id="input"> </span>
                                </div>
                            </a>
        
                        </div>
        
                        <div class="col bg-danger" style="border-radius: 10px 0 0 10px; cursor: pointer;"
                            onclick="location.assign('DoctorProfile.html')">
                            <p class="text-light mt-2" style="font-size: 1.7em;"><i class="fas fa-search"></i>
                                ابحث</p>
                        </div>
        
                    </div>
                </div>
        
            </div>
        
        </div>
        </header>
    </div>
</div>