<section class="container-fluid p-0">
  <header class="header  position-relative" >
    <div id="carouselExampleControls" class="carousel slide"  data-bs-ride="carousel">

       <div class="carousel-inner">

         <div class="carousel-item active" style="max-height: 600px;">
           <img class="img-fluid w-100 h-auto " src="assets/img/header_2.jpg" data-bs-interval="2000">
        </div>

         <div class="carousel-item " style="max-height: 600px">
           <img class="img-fluid w-100 h-auto " src="assets/img/header_4.jpg" data-bs-interval="2000">
         </div>

       </div>



      <!-- <div class="header_center position-absolute  bg-light p-4 ">
        <div class="row "> -->

          <!-- <div class="col-12">
            <div class="row ">
              <div class="col-6" id="right">
                <div class="d-flex  justify-content-center ">
                 <div ><i class="fas fa-calendar-plus text-primary fs-2 m-2"></i></div>
                <div>
                  <h5 class="text_1 fw-bold">احجز دكتور</h5>
                  <p class="text_2 fw-bold">الفحص أو الإجراء</p>
                </div>
                </div>
             </div>
             <div class="col-6" id="left">
               <div class="d-flex  justify-content-center">
                 <div ><i class="fas fa-headphones text-primary fs-2 p-2"></i></div>
                <div>
                  <h5 class="text_1 fw-bold">مكالمة دكتور</h5>
                  <p class="text_2 fw-bold">المتابعة عبر مكالمة مع دكتور</p>
                </div>
                </div>
             </div>
            </div>
            <hr class="bg-primary rounded-3" id="line">
            </div> -->

          <!-- <div class="col-12">

            <div class="row row-cols-5  text-center border-1 border-secondary  bar">
              <div class="col col-border">
               <div class="dropdown">
                 <a class="text-decoration-none d-flex justify-content-between align-items-center  dropdown-toggle" href="#" role="button" id="drop1" data-bs-toggle="dropdown" aria-expanded="false">
                   <div>
                   <p class="text_1">أنا ابحث عن دكتور</p>
                   <span class="fw-bold"><i class="fas fa-stethoscope"></i> اختار التخصص</span>
                   </div>
                 </a>

                 <div class="dropdown-menu  " aria-labelledby="drop1">
                   <ul>
                   <li><a class="dropdown-item" href="#">جلدية </a></li>
                   <li><a class="dropdown-item" href="#">اسنان </a></li>
                   <li><a class="dropdown-item" href="#">نفسي </a></li>
                   <li><a class="dropdown-item" href="#">اطفال وحديثي الولادة </a></li>
                 </ul>
               </div>
                 </div>
               </div>
              <div class="col col-border">
               <div class="dropdown">
                 <a class="text-decoration-none d-flex justify-content-between align-items-center  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                   <div>
                   <p class="text_1">في محافظة</p>
                   <span class="fw-bold"><i class="fas fa-map-marker-alt text-danger"></i>  الجيزة </span>
                   </div>
                 </a>

                 <div class="dropdown-menu  " aria-labelledby="dropdownMenuLink">
                   <ul>
                   <li><a class="dropdown-item" href="#">كل المحافظات  </a></li>
                   <li><a class="dropdown-item" href="#">القاهرة </a></li>
                   <li><a class="dropdown-item" href="#">الاسكندرية  </a></li>
                   <li><a class="dropdown-item" href="#">الساحل الشمالي</a></li>

                 </ul>
               </div>
                 </div>
             </div>

             <div class="col col-border">
               <div class="dropdown">
                 <a class="text-decoration-none d-flex justify-content-between align-items-center  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                   <div>
                   <p class="text_1">في المنطقة</p>
                   <span class="fw-bold"><i class="fas fa-map-marker-alt text-danger"></i> اختار المنطقة</span>
                   </div>
                 </a>

                 <div class="dropdown-menu  " aria-labelledby="dropdownMenuLink">
                   <ul>
                   <li><a class="dropdown-item" href="#">كل المناطق  </a></li>
                   <li><a class="dropdown-item" href="#">الدقي والمهندسين  </a></li>
                   <li><a class="dropdown-item" href="#">6 اكتوبر  </a></li>
                   <li><a class="dropdown-item" href="#">الهرم  </a></li>

                 </ul>
               </div>
                </div>
             </div>

             <div class="col col-border">
              <a class="text-decoration-none d-flex justify-content-between align-items-center " >
                   <div>
                   <p class="text_1 text-end">في محافظة</p>
                   <span class="fw-bold d-flex"><i class="fas fa-user-md ms-2"></i> <input type="text" class="border-0 bg-transparent w-100" placeholder="الدكتور او المستشفي" id="input"> </span>
                   </div>
             </a>

             </div>

             <div class="col bg-danger" style="border-radius: 10px 0 0 10px; cursor: pointer;" onclick="location.assign('DoctorProfile.html')" >
               <p class="text-light mt-2" style="font-size: 1.7em;"><i class="fas fa-search"></i> ابحث</p>
             </div>


            </div>
           </div> -->

         <!-- </div>

        </div> -->

      </div>

      <div class=" header_content position-absolute">
        <h1 class="text_1" >{{'home_header.better_health'|translate}}</h1>
        <p class="text-end">{{'home_header.or_call'|translate}} <i class="fas fa-phone text-danger"></i> {{'home_header.number'|translate}}</p>
       </div>

      <div class="header_bottom position-absolute ">
      <a href="#footer"><i class="fas fa-chevron-down"></i></a>
      </div>


</header>
</section>
