<div class="container-fluid mb-5" style="background-image: url(https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/search-header-background.jpg); background-size : cover;">
    <div class="container">
    <div class="header p-3">

     <h3>احجز مع افضل دكتور في مصر</h3>
     <p> احجز اونلاين او كلم
      <i class=" bi bi-telephone text-danger"></i>
      <span style="font-size: 20px; color: rgb(109, 97, 97); font-weight: bolder; ">
        ١٦٦٧٦
      </span>
    </p>
      <p>١٥٠٠٠ دكتور -٩٠٠٠ استاذ واستشاري - اكثر من ٤٠ تخصص</p>
    </div>
  </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////// -->

  <section class="container-fluid mb-5">
    <section class="container">
      <div class="row">
         <div class="col-2">
           <!-- //// -->
          <div class="d-flex mt-1" style="margin-right: 10px; font-size: 13px; font-weight: bolder">
            <a style="text-decoration: none" href=""><span> فيزيتا </span></a>
            <p><span> / كل الدكاترة فى مصر </span></p>
          </div>
          <!-- //// -->

          <div class="card sticky-top fixed-top" style="border-radius: 10px" >
            <div class="bg-primary text-center text-light"style="border-radius: 10px 10px 0 0" >
              <h6 class="mt-2 fw-bolder">حدد بحثك</h6>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-1" aria-expanded="false" aria-controls="flush-1">
                   <span class="ms-5"> اللقب </span>
                  </button>
                </h2>
                <div id="flush-1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                      <li>استاذ</li>
                      <li>مدرس</li>
                      <li>استشاري</li>
                      <li>اخصائى</li>
                    </ul>
                   </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-2" aria-expanded="false" aria-controls="flush-2">
                   <span class="ms-5"> النوع</span>
                  </button>
                </h2>
                <div id="flush-2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                      <li>دكتورة</li>
                      <li>دكتور</li>
                    </ul>
                   </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-3" aria-expanded="false" aria-controls="flush-3">
                  <span class="ms-5">المواعيد</span>
                  </button>
                </h2>
                <div id="flush-3" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                      <li>اي يوم</li>
                      <li>اليوم</li>
                      <li>غدا</li>
                    </ul>
                   </div>
                </div>
              </div>
             
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-4" aria-expanded="false" aria-controls="flush-4">
                    <span class="ms-4">اكواد الخصم</span>
                  </button>
                </h2>
                <div id="flush-4" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                      <li>يقبل اكواد الخصم</li>
                    </ul>
                   </div>
                </div>
              </div>
              
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-5" aria-expanded="false" aria-controls="flush-5">
                   <span class="ms-4"> سعر الكشف</span>
                  </button>
                </h2>
                <div id="flush-5" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                      <li>الكل</li>
                      <li>اقل من 50</li>
                      <li>من 50حتي100</li>
                      <li>من 100 حتي200</li>
                      <li>من 200 ل300</li>
                      <li>كثر من 300</li>       
                    </ul>
                   </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                   <span class="ms-5"> المنشأة</span>
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <ul>
                      <li>مستشفي</li>
                      <li>عيادة</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
         </div>
         <!-- /////////////////////////////////// -->
        <div class="col-10">
          <section >
                <div class="row">
                  <h5 class="col">كل التخصصات</h5>
                  <p class="col">9581 دكتور </p>
                  <div class="col-8"></div>
                </div>

            <div class="card mb-3"  onclick="location.assign('DoctorProfile.html')">
                  <div class="row g-0 p-4">
                    <div class="col-md-2">
                      <img src="assets/img/doctorYaser.jpg" class="img-fluid rounded-circle" style="border-radius: 5px;">
                    </div>

                    <div class="col-md-6"> 
                      <div class="col-7">
                        <div class="card-body">
                          <h5 class="card-title">دكتور ياسر الدبيكى</h5>
                          <p class="card-text">استشاري واستاذ جراحة الأورام و المناظير بمعهد الاورام....
                            <br>
                          <div style="
                        
                          color: orange;
                          font-size: larger;
                        ">
                            <span>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-half"></i>
                            </span>
                          </div>

                          التقييم العام من ٥٢ زاروا الدكتور</span>

                          </p>
                          <p class="card-text"><small class="text-muted">
                              <i class="fal fa-stethoscope text-primary ms-2"></i>
                              دكتور جراحة أورام متخصص في جراحة اورام نسائية

                              <br>
                              <i class="bi bi-geo-alt text-primary ms-2" style="font-size: 20px">
                              </i>
                              المهندسين : شارع البطل أحمد عبد العزيز
                              <br>
                              <i class="bi bi-cash text-primary ms-4" style="font-size: 20px"></i>
                              الكشف٣٠٠ جنيه
                              <br>
                              <i class="bi bi-circle-half text-primary ms-5" style="font-size: 20px"></i>
                              مدة الانتظار : ٣٤ دقيقة
                              <br>
                              <i class="bi bi-telephone text-primary ms-2" style="font-size: 20px"></i>
                              ١٦٦٧٦ - سعر مكالمة عادية
                        </div>
                        </p>
                      </div>

                      </small>
                    </div>

                    <div class="col-md-4">
                      <div class="row-cols-2-start-left">
                        <div class="card-group">
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                            <div class="card-header bg-primary border-radius">اليوم</div>
                            <div class="card-body text-success">
                              
                              <p class="card-text">
                                من 00:8 م
                                حتي 00:10م
                              </p>
                            </div>
                            <div class="card-footer bg-danger border-radius">احجز</div>
                          </div>
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                            
                            <div class="card-header bg-primary border-radius">غدا</div>
                            <div class="card-body text-success">
                             
                              <p class="card-text">
                                
                                من 00:8 م
                                حتي 00:10م
                               </p>
                            </div>
                            <div class="card-footer bg-danger border-radius">احجز</div>
                          </div>
                          <div class="card border-success mb-3" style="max-width: 18rem;">
                            <div class="card-header bg-primary border-success">الاربعاء</div>
                            <div class="card-body text-success">
                              
                              <p class="card-text">
                               
                                من 00:8 م
                                حتي 00:10م
                              </p>
                            </div>
                            <div class="card-footer bg-danger border-success">احجز</div>
                          </div>
                        </div>
                        <br>
                        <p>الحجز مسبقا والدخول باسبقية الحضور</p>
                      <!-- llll -->

                    </div>
                   </div>
                </div>
            </div>

            <div class="card mb-3" onclick="location.assign('DoctorProfile.html')">
                <div class="row g-0 p-4">
                  <div class="col-md-2">
                    <img src="assets/img/dar-al-hadaba,dar-el-hadaba_20181224184511218.jpg" class="img-fluid rounded-circle">
                  </div>
                  <div class="col-md-6">
                   
                    <div class="col-7">
                      <div class="card-body">
                        <h5 class="card-title">مركزدار الهضبة</h5>
                        <p class="card-text">استشارى الطب النفسى و علاج الادمان
                          <br>
                        <div style="
                        color: orange;
                        font-size: larger;">
                          <span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                          </span>
                        </div>
            
                        التقييم العام من ١٢٩ زاروا الدكتور</span>
            
                        </p>
                        <i class="fal fa-stethoscope text-primary ms-2"></i>
                        دكتور نفسي متخصص في نفسي بالغين، علاج السموم، نفسي مراه
            
                        <br>
                        <p class="card-text"> <i class="bi bi-geo-alt text-primary ms-2" style="font-size: 20px">
                          </i>
                          المعادي : طارق ابو النور
                          <br>
                          <i class="bi bi-cash text-primary ms-4" style="font-size: 20px"></i>
                          الكشف٧٥٠ جنيه
                          <br>
                          <i class="bi bi-circle-half text-primary ms-5" style="font-size: 20px"></i>
                          مدة الانتظار : ١٣ دقيقة
                          <br>
                            <i class="bi bi-telephone text-primary ms-2" style="font-size: 20px"></i>
                            ١٦٦٧٦ - سعر مكالمة عادية
                      </div>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row-cols-2-start-left">
                      <div class="card-group">
                        <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-primary border-radius">اليوم</div>
                          <div class="card-body text-success">
                            
                            <p class="card-text">
                              من 00:8 م
                              حتي 00:10م
                            </p>
                          </div>
                          <div class="card-footer bg-danger border-radius">احجز</div>
                        </div>
                        <div class="card border-success mb-3" style="max-width: 18rem;">          
                          <div class="card-header bg-primary border-radius">غدا</div>
                          <div class="card-body text-success">                          
                            <p class="card-text">       
                              من 00:8 م
                              حتي 00:10م
                             </p>
                          </div>
                          <div class="card-footer bg-danger border-radius">احجز</div>
                        </div>
                        <div class="card border-success mb-3" style="max-width: 18rem;">
                          <div class="card-header bg-primary border-success">الاربعاء</div>
                          <div class="card-body text-success">
                            
                            <p class="card-text">
                             
                              من 00:8 م
                              حتي 00:10م
                            </p>
                          </div>
                          <div class="card-footer bg-danger border-success">احجز</div>
                        </div>
                      </div>
                      <br>
                      <p>الحجز مسبقا والدخول باسبقية الحضور</p>
                    <!-- llll -->
  
                  </div>
                </div>
              </div>
            </div>
         
  
  
           <div class="card mb-3" onclick="location.assign('DoctorProfile.html')">
            <div class="row g-0 p-4">
              <div class="col-md-2">
                <img src="assets/img/doctor-yousri-george-ivf.jpg" class="img-fluid rounded-circle" style="border-radius: 5px;">
              </div>
              <div class="col-md-6">
               
                <div class="col-7">
                  <div class="card-body">
                    <h5 class="card-title">دكتوريسري جورج</h5>
              <p class="card-text">استشاري النساء والتوليد وجراحة المناظير والعقم
                <br>
              <div style="
            
              color: orange;
              font-size: larger;
            ">
                <span>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </span>
              </div>
             
  
              التقييم العام من ١٤١ زاروا الدكتور</span>
  
              </p>
              <i class="fal fa-stethoscope text-primary ms-2"></i>
              دكتور نساء وتوليد متخصص في امراض نساء وتوليد، حقن مجهري وعقم و جراحة اورام
  
              <br>
              <p class="card-text"> <i class="bi bi-geo-alt text-primary ms-2" style="font-size: 20px">
                </i>
                شبرا : شارع شبرا مصر
                <br>
                <i class="bi bi-cash text-primary ms-4" style="font-size: 20px"></i>
                الكشف٢٠٠ جنيه
                <br>
                <i class="bi bi-circle-half text-primary ms-5" style="font-size: 20px"></i>
                مدة الانتظار : ساعة و ٨ دقائق
                <br>
                        <i class="bi bi-telephone text-primary ms-2" style="font-size: 20px"></i>
                        ١٦٦٧٦ - سعر مكالمة عادية
                  </div>
                  </p>
                </div>
  
                </small>
              </div>
              <div class="col-md-4">
                <div class="row-cols-2-start-left">
                  <div class="card-group">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                      <div class="card-header bg-primary border-radius">اليوم</div>
                      <div class="card-body text-success">
                        
                        <p class="card-text">
                          من 00:8 م
                          حتي 00:10م
                        </p>
                      </div>
                      <div class="card-footer bg-danger border-radius">احجز</div>
                    </div>
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                      
                      <div class="card-header bg-primary border-radius">غدا</div>
                      <div class="card-body text-success">
                       
                        <p class="card-text">
                          
                          من 00:8 م
                          حتي 00:10م
                         </p>
                      </div>
                      <div class="card-footer bg-danger border-radius">احجز</div>
                    </div>
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                      <div class="card-header bg-primary border-success">الاربعاء</div>
                      <div class="card-body text-success">
                        
                        <p class="card-text">
                         
                          من 00:8 م
                          حتي 00:10م
                        </p>
                      </div>
                      <div class="card-footer bg-danger border-success">احجز</div>
                    </div>
                  </div>
                  <br>
                  <p>الحجز مسبقا والدخول باسبقية الحضور</p>
                <!-- llll -->
  
              </div>
            </div>
          </div>
           </div>
  
  
      
           <div class="card mb-3" onclick="location.assign('DoctorProfile.html')">
        <div class="row g-0 p-4">
          <div class="col-md-2">
            <img src="assets/img/doctor-mohamed-said-elgamal-cardiology_20201115173019537.jpg" class="img-fluid rounded-circle" style="border-radius: 5px;">
  
          </div>
          <div class="col-md-6">
           
            <div class="col-7">
              <div class="card-body">
                
                <h5 class="card-title">دكتور محمد سعيد الجمال</h5>
                <p class="card-text">أستاذ و استشارى القلب و الأوعية الدموية و القسطرة
                  <br>
                <div style="
              
                color: orange;
                font-size: larger;
              ">
                  <span>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                  </span>
                </div>
               
                التقييم العام من ١٠٥١ زاروا الدكتور</span>
    
                </p>
                <i class="fal fa-stethoscope text-primary ms-2"></i>
                أستاذ و استشارى القلب و الأوعية الدموية و القسطرة -
    
                <br>
                <p class="card-text"> <i class="bi bi-geo-alt text-primary ms-2" style="font-size: 20px">
                  </i>
                  الدقي : شارع الدقى
                  <br>
                  <i class="bi bi-cash text-primary ms-4" style="font-size: 20px"></i>
                  الكشف٣٠٠ جنيه
                  <br>
                  <i class="bi bi-circle-half text-primary ms-5" style="font-size: 20px"></i>
                  مدة الانتظار : ساعة و ٣٥ دقيقة
                  <br>
                    <i class="bi bi-telephone text-primary ms-2" style="font-size: 20px"></i>
                    ١٦٦٧٦ - سعر مكالمة عادية
              </div>
              </p>
            </div>
  
            </small>
          </div>
          <div class="col-md-4">
            <div class="row-cols-2-start-left">
              <div class="card-group">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-header bg-primary border-radius">اليوم</div>
                  <div class="card-body text-success">
                    
                    <p class="card-text">
                      من 00:8 م
                      حتي 00:10م
                    </p>
                  </div>
                  <div class="card-footer bg-danger border-radius">احجز</div>
                </div>
                <div class="card border-success mb-3" style="max-width: 18rem;">
                  
                  <div class="card-header bg-primary border-radius">غدا</div>
                  <div class="card-body text-success">
                   
                    <p class="card-text">
                      
                      من 00:8 م
                      حتي 00:10م
                     </p>
                  </div>
                  <div class="card-footer bg-danger border-radius">احجز</div>
                </div>
                <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-header bg-primary border-success">الاربعاء</div>
                  <div class="card-body text-success">
                    
                    <p class="card-text">
                     
                      من 00:8 م
                      حتي 00:10م
                    </p>
                  </div>
                  <div class="card-footer bg-danger border-success">احجز</div>
                </div>
              </div>
              <br>
              <p>الحجز مسبقا والدخول باسبقية الحضور</p>
            <!-- llll -->
  
          </div>
        </div>
      </div>
          </div>
  
  
         <div class="card mb-3" onclick="location.assign('DoctorProfile.html')">
      <div class="row g-0 p-4">
        <div class="col-md-2">
          <img src="img/doctor-mohamed-ahmed-mansour-nutrition-and-dietitian_20180708191900391.jpg" class="img-fluid rounded-circle" style="border-radius: 5px;">
  
        </div>
        <div class="col-md-6">
         
          <div class="col-7">
            <div class="card-body">
              <h5 class="card-title">دكتور محمد احمد منصور</h5>
              <p class="card-text">استشاري التغذية العلاجية و علاج الألم
                <br>
              <div style="
            
              color: orange;
              font-size: larger;
            ">
                <span>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </span>
              </div>
  
  
              التقييم العام من ١٥٧٥ زاروا الدكتور</span>
  
              </p>
              <i class="fal fa-stethoscope text-primary ms-2"></i>
              استشاري التغذية العلاجية و علاج الألم -
  
              <br>
              <p class="card-text"> <i class="bi bi-geo-alt text-primary ms-2" style="font-size: 20px">
                </i>
                مصر الجديدة : صلاح سالم
                <br>
                <i class="bi bi-cash text-primary ms-4" style="font-size: 20px"></i>
                الكشف٢٠٠ جنيه
                <br>
                <i class="bi bi-circle-half text-primary ms-5" style="font-size: 20px"></i>
                مدة الانتظار : ٢٠ دقيقة
                <br>
                  <i class="bi bi-telephone text-primary ms-2" style="font-size: 20px"></i>
                  ١٦٦٧٦ - سعر مكالمة عادية
            </div>
            </p>
          </div>
  
          </small>
        </div>
        <div class="col-md-4">
          <div class="row-cols-2-start-left ">
            <div class="card-group">

              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary border-radius">اليوم</div>
                <div class="card-body text-success">
                  
                  <p class="card-text">
                    من 00:8 م
                    حتي 00:10م
                  </p>
                </div>
                <div class="card-footer bg-danger border-radius">احجز</div>
              </div>

              <div class="card border-success mb-3" style="max-width: 18rem;">  
                <div class="card-header bg-primary border-radius">غدا</div>
                <div class="card-body text-success">
                 
                  <p class="card-text">
                    
                    من 00:8 م
                    حتي 00:10م
                   </p>
                </div>
                <div class="card-footer bg-danger border-radius">احجز</div>
              </div>

              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-primary border-success">الاربعاء</div>
                <div class="card-body text-success">
                  
                  <p class="card-text">
                   
                    من 00:8 م
                    حتي 00:10م
                  </p>
                </div>
                <div class="card-footer bg-danger border-success">احجز</div>
              </div>
              
            </div>
            <br>
            <p>الحجز مسبقا والدخول باسبقية الحضور</p>
          <!-- llll -->
  
        </div>
      </div>
    </div>
          </div>

          </section>
        </div>
        <!-- /////////////////// -->
      </div>
      </section>
    </section>

    

  <!-- /////////////////////////////////////////////////////////////////////// -->


      <section class="container-fluid">
      <section class="container">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">6</a></li>
              <p>...</p>
              <li class="page-item"><a class="page-link" href="#">1958</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </section>

      <section class="container-fluid mb-5">
        <section class="container">
        <section class="quations">
          <div class="card bg-primary text-dark">

            <h5 class="card-title">أسئلة مكررة</h5>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  ازاى احجز موعد في نفس اليوم مع دكتور؟
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>تستطيع أن تدخل على موقع أو تطبيق فيزيتا وتبحث عن دكاترة في منطقتك، اختار 'اليوم' من المواعيد
                    المتاحة في محدد البحث اعلى الصفحة واحجز في أقل من دقيقة.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ازاى اقدر ابحث عن دكتور تابع للتأمين الخاص بي ؟
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>فيزيتا توفر لك فرصة البحث عن دكاترة يقبلون التامين الخاص بك على وجه التحديد. اختار شركه التامين
                    الخاصة بك من محدد البحث اعلى الصفحة واحجز في أقل من دقيقة.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ازاي اقدر احجز موعد من علي الانترنت مع دكتور؟
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>فيزيتا هي خدمه مجانيه على الانترنت، تساعد المرضى في ايجاد دكاترة أو أي تخصص آخر وحجز ميعاد فورا.
                    ثم عند اختيار الموعد المطلوب والمنطقة يمكنك اختيار شركة التامين الخاصة بك اذا توفر لديك. وبناءا
                    على المعلومات التي ادخلتها، ستظهر لك قائمه بكل الدكاترة الذين يطابقون معايير البحث، بالاضافة
                    لقائمة مواعيدهم المتاحة.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingfour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                  هل اقدر اختار دكتور حسب الجنس ذكؤ او انثى ؟
                </button>
              </h2>
              <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>عند البحث عن دكاترة على فيزيتا، تستطيع تحديد نتائج البحث الخاصة بك حسب الجنس، بالاضافة لمعايير
                    بحث اخرى. وبهذه الطريقة، سيتم عرض الدكاترة الذين يطابقون تفضيلاتك فقط.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                  هل اقدر ابحث عن مواعيد في نفس اليوم لدكتور ؟
                </button>
              </h2>
              <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>تستطيع استخدام بحث فيزيتا للعثور على دكاترة حسب الاعلى تصنيفا من خلال تقييمات المرضى السابقين
                    الذين قاموا باتمام الزيارة حيث ان في كل مرة يكمل فيها المريض موعد محجوز من على فيزيتا، تتم دعوته
                    لمراجعه وتقييم تجربته وابداء رأيه في الزيارة.</p>
                </div>
              </div>
            </div>

          </div>
      
        </section>
      </section>
    </section>
