
<section class="container-fluid bcolor px-0">
  <section class="container" id="footer">
<footer class="footer text-light py-3">
  <div class="row row-cols-md-5 row-cols-2 justify-content-center py-4">
    <div class="col">
      <a routerLink=""><img class="img-responsive img-fluid" src="assets/img/whitelogowithdotcom.jfif"></a>
      <ul>
        <li><a href="#">{{'footer.first_col.about_us'|translate}}</a></li>
        <li><a href="#">{{'footer.first_col.our_team'|translate}}</a></li>
        <li><a href="#">{{'footer.first_col.careers'|translate}}</a></li>
        <li><a href="#">{{'footer.first_col.press'|translate}}</a></li>
      </ul>
    </div>

    <div class="col">
      <h5 class="fw-bold">{{'footer.second_col.search_by'|translate}}</h5>
      <ul>
        <li><a routerLink="el-ta5sos">{{'footer.second_col.speciality'|translate}}</a></li>
        <li><a routerLink="Region">{{'footer.second_col.area'|translate}}</a></li>
        <li><a routerLink="insurances">{{'footer.second_col.insurance'|translate}}</a></li>
        <li><a href="#">{{'footer.second_col.hospital'|translate}}</a></li>
        <li><a href="#">{{'footer.second_col.center'|translate}}</a></li>
      </ul>
    </div>

    <div class="col">
      <h5 class="fw-bold">{{'footer.third_col.is_doctor'|translate}}</h5>
      <ul>
        <li><a href="#">{{'footer.third_col.join_dr'|translate}}</a></li>
      </ul>
    </div>


        <div class="col">
          <h5 class="fw-bold">{{'footer.fourth_col.need_help'|translate}}</h5>
          <ul>
            <li><a href="./Our_Team.html">{{'footer.fourth_col.Contact_us'|translate}}</a></li>
            <li><a href="#">{{'footer.fourth_col.terms_of_use'|translate}}</a></li>
            <li><a href="#">{{'footer.fourth_col.privacy'|translate}}</a></li>
            <li><a href="#">{{'footer.fourth_col.doctors_privacy'|translate}}</a></li>
          </ul>
        </div>

        <div class="col">
          <ul>
            <li><a href="#"><img class="img-fluid" src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/google-play-badge.png"> </a></li>
            <li><a href="#"><img class="img-fluid" src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/app-store-badge.png"> </a></li>
            <li class="d-flex">
              <a href="#"><i class="fab fa-facebook-f fs-3 me-4"></i></a>
              <a href="#"><i class="fab fa-twitter fs-3 me-4"></i></a>
              <a href="#"><i class="fab fa-instagram fs-3 me-4"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </section>
</section>
