<div class="row row-cols-5 bg-light p-1  text-center border-1 border-secondary  bar">
    <!-- ////////////////////////////////////// -->
    <div class="col col-border">
     <div class="dropdown">
       <a class="text-decoration-none d-flex justify-content-between align-items-center  dropdown-toggle" href="#" role="button" id="drop1" data-bs-toggle="dropdown" aria-expanded="false">
         <div>
         <p class="text_1">{{'search_bar.select_1.float_title'|translate}}</p>
         <span class="fw-bold"><i class="fas fa-stethoscope"></i> {{'search_bar.select_1.title'|translate}}</span>
         </div>
       </a>
     
       <div class="dropdown-menu  " aria-labelledby="drop1">
         <ul>
         <li><a class="dropdown-item" href="#">جلدية </a></li>
         <li><a class="dropdown-item" href="#">اسنان </a></li>
         <li><a class="dropdown-item" href="#">نفسي </a></li>
         <li><a class="dropdown-item" href="#">اطفال وحديثي الولادة </a></li>
       </ul>
     </div>
       </div>
     </div>

   <!-- ///////////////////////////////////////////// -->

    <div class="col col-border"> 
     <div class="dropdown">
       <a class="text-decoration-none d-flex justify-content-between align-items-center  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
         <div>
         <p class="text_1">{{'search_bar.select_2.float_title'|translate}}</p>
         <span class="fw-bold"><i class="fas fa-map-marker-alt text-danger"></i>  {{'search_bar.select_2.title'|translate}} </span>
         </div>
       </a>
     
       <div class="dropdown-menu  " aria-labelledby="dropdownMenuLink">
         <ul>
         <li><a class="dropdown-item" href="#">كل المحافظات  </a></li>
         <li><a class="dropdown-item" href="#">القاهرة </a></li>
         <li><a class="dropdown-item" href="#">الاسكندرية  </a></li>
         <li><a class="dropdown-item" href="#">الساحل الشمالي</a></li>
        
       </ul>
      </div>
       </div>
   </div>

   <div class="col col-border"> 
     <div class="dropdown">
       <a class="text-decoration-none d-flex justify-content-between align-items-center  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
         <div>
         <p class="text_1">{{'search_bar.select_3.title'|translate}}</p>
         <span class="fw-bold"><i class="fas fa-map-marker-alt text-danger"></i> {{'search_bar.select_3.float_title'|translate}}</span>
         </div>
       </a>
     
       <div class="dropdown-menu  " aria-labelledby="dropdownMenuLink">
         <ul>
         <li><a class="dropdown-item" href="#">كل المناطق  </a></li>
         <li><a class="dropdown-item" href="#">الدقي والمهندسين  </a></li>
         <li><a class="dropdown-item" href="#">6 اكتوبر  </a></li>
         <li><a class="dropdown-item" href="#">الهرم  </a></li>

       </ul>
     </div>
      </div>
   </div>

   <div class="col col-border">
    <a class="text-decoration-none d-flex justify-content-between align-items-center " >
         <div>
         <p class="text_1 text-end">{{'search_bar.select_2.float_title'|translate}}</p>
         <span class="fw-bold d-flex"><i class="fas fa-user-md ms-2"></i> <input type="text" class="border-0 bg-transparent w-100" [placeholder]="'search_bar.select_4.title'|translate" id="input"> </span>
         </div>
   </a>
   </div>

   <div class="col bg-danger p-0"  style="border-radius: 10px 0 0 10px; cursor: pointer;"  >
     <p class="text-light mt-2" style="font-size: 1.7em;"><i class="fas fa-search"></i> {{'search_bar.search_btn'|translate}}</p>
   </div>
 

  </div>