<!-- Header -->
<app-heading></app-heading>

<!-- middle section -->

<div class="container-fluid middle ">
    <div class="container">
        <div class="pt-4 pb-4">
            <div class="container rounded bg-light  pt-3 pb-3">
                <div class="row">
                    <div class="col-md-6 col-12  mb-md-1 mb-4">
                        <div class=" fs-4" style="color: rgb(0, 112, 205);">
                            {{'contact_us_form.contact_us'|translate}}
                        </div>
                        <div class=" fs-5 text-secondary">
                            {{'contact_us_form.greetings'|translate}}
                        </div>
                        <div>
                            <form #myform="ngForm">
                                <div class="d-flex flex-md-row  flex-column mt-3 mb-2 write">
                                    <label for="name"
                                        class="col-form-label title col-4 text-secondary fs-5">{{'contact_us_form.name'|translate}}</label>
                                    <input class="form-control form-control-sm" ngModel
                                        [ngClass]='{"invalid":name.invalid && name.touched,"input":name.invalid && name.touched}'
                                        type="text" [placeholder]="'contact_us_form_valid.name_placeholder'|translate" pattern="[A-Za-z]{6,20}" #name="ngModel"
                                        required name="name" id="name">

                                </div>
                                <div class="d-flex flex-md-row flex-column mt-2 mb-1 diV">
                                    <label for="namevalid" class="col-form-label  col-md-4 col-0 text-secondary fs-5">
                                    </label>
                                    <span class="div" *ngIf="name.invalid && name.touched && name.errors?.required">{{'contact_us_form_valid.name_valid'|translate}}</span>
                                </div>

                                <div class="d-flex flex-md-row  flex-column  mt-3 mb-2 write">
                                    <label for="phone" class="col-form-label title col-4 text-secondary fs-5">
                                        {{'contact_us_form.mobile'|translate}}</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control form-control-sm" id="phone"
                                            [placeholder]="'contact_us_form_valid.phone_placeholder'|translate" name="phone" ngModel #phone="ngModel" ngModel
                                            [ngClass]='{"invalid":phone.invalid && phone.touched,"input":phone.invalid && phone.touched}'
                                            required pattern="01(0|1|2|5)[0-9]{8}">

                                        <span class="input-group-text" id="eg">
                                            <img src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/Egypt.png"
                                                class="img-fluid" width="25px">
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex flex-md-row flex-column mt-1 mb-2 diV">
                                    <label for="numbervalid" class="col-form-label  col-md-4 col-0 text-secondary fs-5">
                                    </label>
                                    <span class="div" *ngIf="phone.invalid && phone.touched && phone.errors?.required">
                                        {{'contact_us_form_valid.mobile_valid'|translate}}</span>
                                </div>
                                <div class="d-flex flex-md-row  flex-column mt-3 mb-2 write">
                                    <label for="name"
                                        class="col-form-label title col-4 text-secondary fs-5">{{'contact_us_form.email'|translate}}</label>
                                    <input class="form-control form-control-sm" ngModel #email="ngModel" type="email"
                                        placeholder="example@domain.com" ngModel
                                        [ngClass]='{"invalid":email.invalid && email.touched && !valid,"input":email.invalid && email.touched&& !valid }'
                                        ngModel required onfocus="" name="email" id="email"
                                        (keyup)="validateEmail(email)">

                                </div>
                                <div class="d-flex flex-md-row flex-column mt-1 mb-2 div">
                                    <label for="namevalid" class="col-form-label  col-md-4 col-0 text-secondary fs-5">
                                    </label>
                                    <div>
                                        <div class="div" #ele
                                            *ngIf="email.invalid && email.touched && email.errors?.required">
                                            {{'contact_us_form_valid.email_required'|translate}}</div>
                                        <div class="div" *ngIf="email.touched && !valid && !validEmpty">
                                            {{'contact_us_form_valid.email_valid'|translate}}</div>
                                    </div>

                                </div>
                                <div class="d-flex flex-row">
                                    <label for="name" class="col-form-label  col-md-4 col-0 text-secondary fs-5">
                                    </label>
                                    <input class="btn btn-danger px-5 px-md-4 " [value]="'contact_us_form.send'|translate" pattern="[A-Za-z]{9,20}"
                                        type="button" (click)="submit(myform)">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="vl col-md-1 col-0 "></div>
                    <div class="col-5">
                        <div class=" fs-4" style="color: rgb(0, 112, 205);">
                           {{'contact_us_info.call_us'|translate}}
                        </div>
                        <div class=" fs-6 text-secondary">
                           {{'contact_us_info.hotline'|translate}}
                           {{'contact_us_info.cost'|translate}}
                        </div>
                        <div class=" fs-6 text-secondary mt-3 mb-3">
                            {{'contact_us_info.outside_call'|translate}}
                            <div class="fw-bold">
                                {{'contact_us_info.outside_number'|translate}}
                            </div>
                        </div>
                        <div class=" fs-4 mt-3 mb-3 " style="color: rgb(0, 112, 205);">
                            {{'contact_us_info.address'|translate}}
                        </div>
                        <div class=" fs-6 text-secondary mt-3 mb-3 ">
                            {{'contact_us_info.address_details'|translate}} 
                        </div>
                        <div class=" fs-4 mt-3 mb-3" style="color: rgb(0, 112, 205);">
                            {{'contact_us_info.mail_us'|translate}}
                        </div>
                        <div class=" fs-6 text-secondary mt-3 mb-3">
                            <a href="#" class="email">
                                {{'contact_us_info.mail_us_at'|translate}}
                            </a>
                        </div>
                        <div class=" mb-5">
                            <li class="d-flex flex-column flex-md-row">
                                <a href="https://www.facebook.com/" target="	_blank">
                                    <img src="https://img.icons8.com/fluency/30/000000/facebook-new.png"
                                        class="mx-md-2 mx-5" />
                                </a>
                                <a href="https://www.instagram.com/" target="	_blank">
                                    <img src="https://img.icons8.com/office/30/000000/instagram-new.png"
                                        class="mx-md-2 mx-5" />
                                </a>
                                <a href="https://twitter.com/home?lang=ar" target="	_blank">
                                    <img src="https://img.icons8.com/office/30/000000/twitter.png"
                                        class="mx-md-2 mx-5" />
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>