<div class="row g-3">
  <div
    class="card col-xl-12 col-sm-12 d-flex"
    style="border-radius: 10px 10px 10px 10px">
    <div class="d-flex p-3 w-100">
      <div class="ms-3 w-25">
        <img class="rounded-circle img-fluid" src={{doctor?.imgDoctor}} alt="" />
      </div>
      <div class="w-75">
        <div class="d-flex justify-content-between">
          <h4 class="text-secondary">دكتور {{doctor?.name}}</h4>
          <h1 class="text-secondary fw-bolder fs-5">٦٣,٥١٣ مشاهدة</h1>
        </div>
        <p class="text-secondary fw-bolder fs-5">
          {{doctor?.category.name}}{{doctor?.category.subCategory}}
        </p>
      </div>
    </div>
    <div
      style="
        padding-right: 20%;
        padding-bottom: 2%;
        color: orange;
        font-size: larger;
      "
    >
      <span>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
      </span>
      <span class="text-secondary fw-bolder ps-3">التقييم العام من ٢٢٢ زاروا الدكتور</span
      >
    </div>
  </div>

  <div
    class="card col-xl-12 col-sm-12"
    style="border-radius: 10px 10px 10px 10px"
  >
    <div class="card-body">
      <i class="bi bi-info-lg text-primary ms-2" style="font-size: 20px"></i>
      <div style="margin-right: 7%; margin-top: -5%">
        <span class="fw-bolder">معلومات عن الدكتور</span>
        <br />
        <span class="text-secondary fw-bolder">
         {{doctor?.information}}
        </span>
      </div>
    </div>
  </div>

  <div
    class="card col-xl-12 col-sm-12"
    style="border-radius: 10px 10px 10px 10px"
  >
    <div class="card-body">
      <i class="bi bi-image text-primary ms-2" style="font-size: 20px"></i>
      <div style="margin-right: 7%; margin-top: -5%">
        <span class="fw-bolder">صور العيادة : </span>
        <br />
        <div>
          <img
            src={{doctor?.imgsClinic[i]}}
            alt="" width="18%" height="100%" class="ps-1" *ngFor="let img of doctor?.imgsClinic; let i=index" />

        </div>
      </div>
    </div>
  </div>

  <div
    class="card col-xl-12 col-sm-12"
    style="border-radius: 10px 10px 10px 10px"
  >
    <div class="card-body">
      <i class="bi bi-star-half text-primary ms-2" style="font-size: 20px"></i>
      <div style="margin-right: 7%; margin-top: -5%">
        <span class="fw-bolder">تقييم المرضي :</span>
        <br />
        <div class="text-center" style="color: orange; font-size: 30px">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star"></i>
        </div>
        <p class="text-secondary fw-bolder text-center fs-5">
          التقييم العام <br />
          من ٢٢٢ زاروا الدكتور
        </p>
        <br />
        <br />
        <span style="display: flex">
          <div style="color: orange; font-size: larger">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
            <p class="text-secondary fw-bold fs-5">تقييم المساعد</p>
          </div>

          <div
            class="text-center"
            style="color: orange; font-size: larger; padding-right: 20%"
          >
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
            <p class="text-secondary fw-bold text-center fs-5">تقييم العيادة</p>
          </div>
          <div style="padding-right: 20%">
            <span class="bg-primary text-light rounded p-1 fw-bold"
              >4.1 /5</span
            >
            <p class="text-secondary fw-bold text-center fs-5">تقييم الدكتور</p>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
