<section class="container-fluid" id="bkimage" style="background-color: lightgray;">
  <section class="container">
    <div class="row">
      <div class="col-xl-12 col-sm-12 pb-2 text-end">

        <h1 class="mt-3 " style="font-size: 23px; font-weight: bolder">
          احجز الآن مع دكتور حسام عمارة
        </h1>

        <span class=" col-sm-2" style=" font-size: 20px; color: rgb(109, 97, 97);font-weight: bolder; ">
          احجز اونلاين او كلم
          <i class=" col-sm-2 bi bi-telephone text-danger">

          </i>
          <span style="font-size: 20px;color: rgb(109, 97, 97); font-weight: bolder; ">١٦٦٧٦
          </span>

        </span>
        <div>
          <span class=" col-sm-3" style=" font-size: 20px; color: rgb(109, 97, 97);  font-weight: bolder;
                  ">١٥٠٠٠ دكتور -٩٠٠٠ استاذ واستشاري - اكثر من ٤٠ تخصص</span>
        </div>
      </div>
    </div>
  </section>
</section>

<div class="d-flex mt-2 me-5" style="font-size: 13px; font-weight: bolder" dir="rtl">
  <a style="text-decoration: none" href=""><span> فيزيتا </span></a>
  <p><span> / التخصصات</span></p>
</div>

<section class="container-fluid" dir="rtl" id="boody">

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      <img src="https://cdn-dr-images.vezeeta.com/Specialties/Dermatology.png" style="height: 40px;"
        class="Collapsiblestyle__Icon-sc-1ck8q4h-3 dFMqPf"> جلدية
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="row row-cols-3 p-3 mb-3 me-3">
      <a href="#" class="col">كل التخصصات الفرعية</a>
      <a href="#" class="col">أمراض تناسلية</a>
      <a href="#" class="col">جلدية بالغين</a>
      <a href="#" class="col">تجميل و ليزر </a>
      <a href="#" class="col">جلدية أطفال</a>
    </div>
  </div>

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
      aria-controls="collapseExample2">
      <img src="https://cdn-dr-images.vezeeta.com/Specialties/Dentistry.png" style="height: 40px;"
        class="Collapsiblestyle__Icon-sc-1ck8q4h-3 dFMqPf"> أسنان
    </a>
  </p>
  <div class="collapse" id="collapseExample2">
    <div class="row row-cols-3 p-3 mb-3 me-3">
      <a href="#" class="col">كل التخصصات الفرعية</a>
      <a href="#" class="col">اسنان أطفال</a>
      <a href="#" class="col">تجميل اسنان</a>
      <a href="#" class="col">علاج اللثة </a>
      <a href="#" class="col">جراحة وجه وفكين</a>
      <a href="#" class="col">تقويم اسنان</a>
    </div>
  </div>

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
      aria-controls="collapseExample3">
      <img src="https://cdn-dr-images.vezeeta.com/Specialties/Psychiatry.png" style="height: 40px;"
        class="Collapsiblestyle__Icon-sc-1ck8q4h-3 dFMqPf"> نفسى
    </a>
  </p>
  <div class="collapse" id="collapseExample3">
    <div class="row row-cols-3 p-3 mb-3 me-3">
      <a href="#" class="col">كل التخصصات الفرعية</a>
      <a href="#" class="col">علاج السموم</a>
      <a href="#" class="col">علاج الإدمان</a>
      <a href="#" class="col">استشارات اسرية </a>
      <a href="#" class="col">نفسي اطفال</a>
      <a href="#" class="col">نفسي بالغين</a>
    </div>
  </div>

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false"
      aria-controls="collapseExample4">
      <img src="https://cdn-dr-images.vezeeta.com/Specialties/Pediatrics and New Born.png" style="height: 40px;"
        class="Collapsiblestyle__Icon-sc-1ck8q4h-3 dFMqPf"> أطفال و حديثي الولادى
    </a>
  </p>
  <div class="collapse" id="collapseExample4">
    <div class="row row-cols-3 p-3 mb-3 me-3">
      <a href="#" class="col">كل التخصصات الفرعية</a>
      <a href="#" class="col">قلب أطفال</a>
      <a href="#" class="col">سكر أطفال</a>
      <a href="#" class="col">كبد أطفال </a>
      <a href="#" class="col">حديثي الولادة</a>
      <a href="#" class="col">حساسية و مناعة اطفال</a>
    </div>
  </div>

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false"
      aria-controls="collapseExample5">
      <img src="https://cdn-dr-images.vezeeta.com/Specialties/Neurology.png" style="height: 40px;"
        class="Collapsiblestyle__Icon-sc-1ck8q4h-3 dFMqPf"> مخ و أعصاب
    </a>
  </p>
  <div class="collapse" id="collapseExample5">
    <div class="row row-cols-3 p-3 mb-3 me-3">
      <a href="#" class="col">كل التخصصات الفرعية</a>
      <a href="#" class="col">مخ و اعصاب بالغين</a>
      <a href="#" class="col">مخ و اعصاب اطفال</a>
    </div>
  </div>

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false"
      aria-controls="collapseExample6">
      <img src="https://cdn-dr-images.vezeeta.com/Specialties/Orthopedics.png" style="height: 40px;"
        class="Collapsiblestyle__Icon-sc-1ck8q4h-3 dFMqPf"> عظام
    </a>
  </p>
  <div class="collapse" id="collapseExample6">
    <div class="row row-cols-3 p-3 mb-3 me-3">
      <a href="#" class="col">كل التخصصات الفرعية</a>
      <a href="#" class="col">إصابات ملاعب</a>
      <a href="#" class="col">جراحة عمود فقرى</a>
      <a href="#" class="col">تشوهات عظام </a>
      <a href="#" class="col">تغير المفاصل</a>
      <a href="#" class="col">تقويم العظام</a>
    </div>
  </div>

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false"
      aria-controls="collapseExample7">
      <img src="https://cdn-dr-images.vezeeta.com/Specialties/Gynaecology and Infertility.png" style="height: 40px;"
        class="Collapsiblestyle__Icon-sc-1ck8q4h-3 dFMqPf"> نساء و توليد
    </a>
  </p>
  <div class="collapse" id="collapseExample7">
    <div class="row row-cols-3 p-3 mb-3 me-3">
      <a href="#" class="col">كل التخصصات الفرعية</a>
      <a href="#" class="col">أمراض نساء و توليد</a>
      <a href="#" class="col">جراحة اورام نسائية</a>
      <a href="#" class="col">جراحات تجميل نسائية</a>
      <a href="#" class="col">معالجه العقم</a>
      <a href="#" class="col">ولادة</a>
    </div>
  </div>

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false"
      aria-controls="collapseExample8">
      <img src="https://cdn-dr-images.vezeeta.com/Specialties/Ear, Nose and Throat.png" style="height: 40px;"
        class="Collapsiblestyle__Icon-sc-1ck8q4h-3 dFMqPf"> انف واذن وحنجرة
    </a>
  </p>
  <div class="collapse" id="collapseExample8">
    <div class="row row-cols-3 p-3 mb-3 me-3">
      <a href="#" class="col">كل التخصصات الفرعية</a>
      <a href="#" class="col">اضطراب السمع والتوازن</a>
      <a href="#" class="col">انف واذن وحنجرة بالغين</a>
      <a href="#" class="col">جراحة انف واذن وحنجرة اطفال</a>
      <a href="#" class="col">انف واذن وحنجرة اطفال</a>
      <a href="#" class="col">جراحة انف واذن وحنجرة بالغين</a>
    </div>
  </div>

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false"
      aria-controls="collapseExample9">
      <img src="https://cdn-dr-images.vezeeta.com/Specialties/Cardiology and Vascular Disease.png" style="height: 40px;"
        class="Collapsiblestyle__Icon-sc-1ck8q4h-3 dFMqPf"> قلب و اوعية دموية
    </a>
  </p>
  <div class="collapse" id="collapseExample9">
    <div class="row row-cols-3 p-3 mb-3 me-3">
      <a href="#" class="col">كل التخصصات الفرعية</a>
      <a href="#" class="col">قلب اطفال</a>
      <a href="#" class="col">قلب بالغين</a>
      <a href="#" class="col">اوعية دموية بالغين</a>
      <a href="#" class="col">اوعية دموية اطفال</a>
    </div>
  </div>

  <p>
    <a class="" data-bs-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false"
      aria-controls="collapseExample10">
      <img src="https://cdn-dr-images.vezeeta.com/Specialties/Hematology.png" style="height: 40px;"
        class="Collapsiblestyle__Icon-sc-1ck8q4h-3 dFMqPf"> امراض دم
    </a>
  </p>
  <div class="collapse" id="collapseExample10">
    <div class="row row-cols-3 p-3 mb-3 me-3">
      <a href="#" class="col">كل التخصصات الفرعية</a>
      <a href="#" class="col">زرع خلايا جزعية</a>
      <a href="#" class="col">امراض دم بالغين</a>
      <a href="#" class="col">امراض دم اطفال </a>
    </div>
  </div>
</section>
