<section class="container-fluid" id="bkImage" style="background-color: lightgray">
  <section class="container py-5">
    <div class="row ">
      <div class="col-xl-12 col-sm-12 pb-2">
        <h1 class="col-xl-3 col-sm-3 mt-3 text_1" style="font-size: 23px; font-weight: bolder">
          <!-- احجز الآن مع دكتور حسام عمارة -->
          {{'heading.row_1' | translate}}
        </h1>

        <div>
          <span class="col-xl-2 col-sm-2" style="font-size: 15px; color: rgb(109, 97, 97); font-weight: bolder">
            {{'heading.row_2.onlin'|translate}}

            <i class="col-xl-2 col-sm-2 text-danger bi bi-telephone text-danger"></i>
            <span style=" font-size: 15px; color: rgb(109, 97, 97); font-weight: bolder; ">
            {{'heading.row_2.phone'|translate}} </span>

            <span></span>
          </span>
        </div>

        <div>
          <span class="col-xl-3 col-sm-3" style="font-size: 15px; color: rgb(109, 97, 97); font-weight: bolder; ">
            {{'heading.row_3'|translate}}</span>
        </div>

        <!-- <div class="my-3">
          <app-search-bar></app-search-bar>
        </div> -->

      </div>

    </div>
  </section>
</section>
