<section
  class="container-fluid"
  id="bkImage"
  style="background-color: lightgray"
>
  <section class="container">
    <div class="row">
      <div class="col-xl-12 col-sm-12 text-end pb-2">
        <h1
          class="col-xl-3 col-sm-3 mt-3"
          style="font-size: 23px; font-weight: bolder"
        >
          احجز الآن مع دكتور حسام عمارة
        </h1>
        <span
          class="col-xl-2 col-sm-2"
          style="font-size: 20px; color: rgb(109, 97, 97); font-weight: bolder"
        >
          احجز اونلاين او كلم

          <i class="col-xl-2 col-sm-2 bi bi-telephone text-danger"></i>
          <span
            style="
              font-size: 20px;
              color: rgb(109, 97, 97);
              font-weight: bolder;
            "
            >١٦٦٧٦</span
          >

          <span></span>
        </span>
        <div>
          <span
            class="col-xl-3 col-sm-3"
            style="
              font-size: 20px;
              color: rgb(109, 97, 97);
              font-weight: bolder;
            "
            >١٥٠٠٠ دكتور -٩٠٠٠ استاذ واستشاري - اكثر من ٤٠ تخصص</span
          >
        </div>
      </div>
    </div>
  </section>
</section>
