* {
  font-family: "Scheherazade New", serif;
}

body {
  background-color: #e5e5e5;
  overflow-x: hidden;
}

/*  ----------------Header-------------------   */

.navbar-nav a {
  color: whitesmoke;
}
.navbar-nav a:hover {
  text-decoration: underline;
}

.navBorder {
  color: whitesmoke;
  text-align: center;
  line-height: inherit;
}

/*  ------------------Body-------------------   */

#logreg-forms {
  width: 45%;
  margin: 5% auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.16), 5px 5px 7px rgba(0, 0, 0, 0.26);
}

#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 17px;
}

#logreg-forms .form-control:focus {
  z-index: 2;
}
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  font-size: 17px;
  border-bottom-right-radius: 50;
  border-bottom-left-radius: 50;
}

#logreg-forms .social-login {
  margin: 0 auto;
  margin-bottom: 14px;
}

#logreg-forms .social-btn {
  font-weight: 100;
  color: white;
  font-size: 0.9rem;
}

#logreg-forms a {
  display: block;
  padding-top: 10px;
  color: lightseagreen;
}

#logreg-form .lines {
  width: 200px;
  border: 1px solid red;
}

#logreg-forms button[type="submit"] {
  margin-top: 10px;
}

#logreg-forms .facebook-btn {
  background-color: #3c589c;
}

#logreg-forms .google-btn {
  background-color: #df4b3b;
}

#logreg-forms .form-reset,
#logreg-forms .form-signup {
  display: none;
}

#logreg-forms .form-signup .social-btn {
  width: 210px;
}

#logreg-forms .form-signup input {
  margin-bottom: 2px;
}

.form-signup .social-login {
  width: 210px !important;
  margin: 0 auto;
}

/*  ------------------Footer-------------------   */

ul {
  padding: 10px;
  margin: 0px;
}

footer ul li {
  list-style-type: none;
  margin-top: 15px;
}

footer ul li a {
  text-decoration: none;
  position: relative;
  left: 20px;
  color: whitesmoke;
  font-size: 1em;
}

footer ul li a:hover {
  text-decoration: underline;
  color: whitesmoke;
}
