<div class="card" style="border-radius: 10px 10px 10px 10px">
  <div
    class="bg-primary text-center text-light"
    style="border-radius: 10px 10px 0px 0px"
  >
    <h6 class="mt-2 fw-bolder">معلومات الحجز</h6>
  </div>
  <div class="card-body">
    <div class="flex-column text-center">
      <h6 class="fw-bolder">احجز</h6>
      <h6 class="text-primary fw-bolder">كشف طبي</h6>
    </div>
    <hr />
    <div class="row justify-content-center">
      <div
        class="col-6"
        style="display: flex; text-align: center; flex-direction: column"
      >
        <i class="bi bi-cash text-primary" style="font-size: 25px"></i>
        <h6 class="text-secondary fw-bolder">الكشف ٥٠٠ جنيه</h6>
      </div>
      <div
        class="col-6"
        style="display: flex; text-align: center; flex-direction: column"
      >
        <i class="bi bi-circle-half text-primary" style="font-size: 25px"></i>
        <h6 class="text-primary fw-bolder">مدة الانتظار : ٣٦ دقيقة</h6>
      </div>
    </div>
    <hr />
    <i class="bi bi-geo-alt text-primary ms-2" style="font-size: 20px"></i>
    <div style="margin-right: 10%; margin-top: -7%">
      <span class="fw-bolder">مصر الجديدة : خليفة المأمون</span>
      <br />
      <span class="text-secondary fw-bolder">
        احجز الان وسيتم ارسال تفاصيل العنوان بالكامل ورقم العيادة
      </span>
    </div>
    <hr />
    <i class="bi bi-telephone text-primary ms-2" style="font-size: 20px"></i>
    <div style="margin-right: 10%; margin-top: -7%">
      <span class="fw-bolder">رقم الهاتف :</span>
      <span class="fw-bolder text-primary">01009850215</span>
    </div>
  </div>
</div>
