<section class="container-fluid bcolor p-0">
  <section class="container">
    <nav class="navbar navbar-expand-lg px-3 justify-content-between">
      <div>
        <button class="navbar-toggler btn-primary me-2" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fal fa-bars"></i>
        </button>

        <div class="offcanvas offcanvas-start bcolor navbar-collapse" id="offcanvasExample"
          aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">
              Vezeeta
            </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="navbar-nav">
            <!-- <select class="nav-link bg-transparent border-0  p-1">
              <option><a href="#">مصر</a></option>
              <option><a href="#">مصر</a></option>
              <option><a href="#">مصر</a></option>
              <option><a href="#">مصر</a></option>
              <option><a href="#">مصر</a></option>
            </select>
            <span class="navBorder">|</span> -->

         <a class="nav-link text-light" aria-disabled="true" (click)="changeLanguage(lang)"#lang>{{'navbar.lang'|translate}}</a>
          <span class="navBorder">|</span>

            <a class="nav-link text-light" routerLink="/ContactUs">{{'navbar.contact_us' | translate}}</a>
            <span class="navBorder" >|</span>

            <a class="nav-link text-light" routerLink="/Doctors"  >{{'navbar.vezeeta_for_doctors'|translate}}</a>
            <span class="navBorder">|</span>

            <a class="nav-link text-light" routerLink="/Login" *ngIf="!User">{{'navbar.login'|translate}}</a>
            <span class="navBorder" *ngIf="!User">|</span>

            <a class="nav-link text-light btn border-1 border-light px-1 me-1" routerLink="/Register" *ngIf="!User">
              {{'navbar.sign_up'|translate}}</a>


              <div ngbDropdown class=" " *ngIf="User">
                <a class="nav-link btn border-1 border-light px-2 me-1 text-light" id="dropdownBasic1" *ngIf="!User?.isDoctor"  ngbDropdownToggle> {{User?.name}} </a>
                <a class="nav-link btn border-1 border-light px-2 me-1 text-light" id="dropdownBasic1" *ngIf="User?.isDoctor"  ngbDropdownToggle> Dr / {{User?.name}} </a>
                <div ngbDropdownMenu class="text-danger" aria-labelledby="dropdownBasic1">
                  <a ngbDropdownItem *ngIf="!User?.isDoctor" routerLink="/AllReservations/{{User?.name}}" >مواعيدي</a>
                  <a ngbDropdownItem *ngIf="User?.isDoctor" routerLink="/DoctorReservations/{{User?.name}}" >مواعيدي</a>
                  <a ngbDropdownItem class='' (click)="logout()" > {{'navbar.logout'|translate}} </a>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="navbar-brand text-start">
        <a routerLink="/home"><img class="img-fluid"
            src="https://d1aovdz1i2nnak.cloudfront.net/vezeeta-web-reactjs/33079/_next/static/images/whitelogowithdotcom.png" />
        </a>
      </div>
    </nav>
  </section>
</section>
