<!-- Header -->
<app-heading></app-heading>

<!-- middle section -->

<div>
    <div class="container-fluid middle pt-3 pb-3">
        <div class="container">
            <div class=" row mx-auto mb-2">
                <span style="font-size: .8rem;">
                    <a href="#" class="v"><small class="t1"> {{'insurance.vezeeta'|translate}}</small> </a>
                    <small class="t1">/</small>
                    <small class="text-secondary mx-1">{{'insurance.insurance'|translate}}</small>
                </span>
            </div>

            <!-- Search Box -->
        </div>
        <div class="container">
            <input type="text" class="form-control form-control-lg fw-bold search mb-4 p-2"
                [placeholder]="'insurance.input_placeholder'|translate" style="color:rgb(0, 112, 205) ;" #input (keyup)="search(input)">
        </div>

        <!--  List !! -->
        <div class="container">
            <div class=" row doc bg-light mx-auto mb-5">
                <div *ngFor="let column of columnNumberArr">
                    <ul class="col-6">
                        <app-insurance-column-data [column]=column></app-insurance-column-data>
                    </ul>
                </div>
                <!-- case nothing matches search -->
                <div class="text-center text-secondary fw-bold  p-md-5 fs-3 p-0" *ngIf="!isMatches">
                    لا توجد نتائج تطابق بحثك
                </div>


            </div>
        </div>



    </div>
</div>